<app-header (featureSelected) ="onNavigate($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
            <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
           <!-- <app-game (intervalFired)="onIntervalFired($event)"></app-game>-->
           <!-- <app-cockpit
                    (serverCreated)="onServerAdded($event)"
                    (bpCreated)="onBlueprintAdded($event)">
            </app-cockpit>-->
        </div>
    </div>
  <!--  <div class="row">
        <div class="col-xs-12">
            <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
            <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
        </div>
    </div>-->
   <!--
    <hr>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary  mr-3" (click)="onChangeFirst()" >Change Element</button>
            <button class="btn btn-danger  mr-3" (click)="onDestroyFirst()" >Destroy Component</button>
            <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement" [name]="serverElement.anme">
                <p #contentParagraph>
                    <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
                    <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
                </p>
           </app-server-element>
        </div>
    </div>-->
</div>
